      <ion-header>
        <ion-toolbar color="primary">

          <ion-title class="modal-title"> <span class="sub-name">  {{subscriber.app_subscriber_name}} </span> </ion-title>
          <ion-buttons slot="start">
            <!-- <ion-button (click)="cancel()"><ion-icon name="arrow-back"></ion-icon></ion-button> -->
            <ion-button style="text-transform: none !important;" (click)="subscriber_operation('edit_subscriber')" >
              <ion-icon name="create-outline"> </ion-icon>
              Edit
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let option of option_menu">
            <ion-button  class="popup-btn" color="none" fill="clear" (click)="subscriber_operation(option.option_name)">
               {{option.option_title}}
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
