ion-content::part(background){
    background-color:var(--ion-color-primary-blan1) !important;
    
}
ion-toolbar{
    filter: brightness(95%);
}

ion-title{
    font-family: 'Roboto', 'Greta-Arabic' !important;

    margin: 0 10px !important;
}
.popup-btn{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    color: var(--ion-color-primary-font1);
    
}
ion-list{
    padding: 0;
    background:var(--ion-color-primary-blan1);
    // height: 100%;
    

}
ion-item{
    --padding-start : 0;
    --inner-padding-end : 0;
    width: 100%;
    cursor:pointer;
    vertical-align:middle;
    border-bottom: 0.55px solid var(--ion-color-primary-border) !important;
    text-align: center;
    --border-style : none;

}
ion-item::part(native){
    width: 100%;
}
.modal-title{
    font-size: 14px;
    direction: rtl;
    font-weight: bolder ;
    padding-right: -5%;
}
.sub-name{
    font-size: 16px !important;
}