<ion-list>
  <ion-item>
    <ion-label>
      Name:
    </ion-label>
    <ion-input [(ngModel)]="filters.name" #name_input >

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Username:
    </ion-label>
    <ion-input [(ngModel)]="filters.username" >

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Address:
    </ion-label>
    <ion-input [(ngModel)]="filters.address" >

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Category 1:</ion-label>
    <ion-select  [(ngModel)]="filters.category1">
      <ion-select-option value="categ1.1">1.1</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Category 2:</ion-label>
    <ion-select [(ngModel)]="filters.category2">
      <ion-select-option value="categ1.1">2.1</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Services:</ion-label>
    <ion-select [(ngModel)]="filters.service">
      <ion-select-option value="service1">service1</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>
      Balance:
    </ion-label>
    <ion-input [(ngModel)]="filters.balance">
    </ion-input>
  </ion-item>



  <ion-item>
    <ion-label>Expiry Date:</ion-label>
    <ion-input value="{{ filters.expiry_date | date: 'dd.MM.yyyy' }}" id="date" class="ion-text-end"></ion-input>
    <ion-popover trigger="date">
      <ng-template>
        <ion-datetime presentation="date" [(ngModel)]="filters.expiry_date"></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-item>
    <ion-label>Enabled:</ion-label>
    <ion-select [(ngModel)]="filters.enabled">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-button class="filter-button" color="primary" (click)="filter()">
    <ion-label>Search</ion-label>
  </ion-button>
</ion-list>