<ion-header>
  <ion-toolbar color="primary" [hidden]="!hide_search">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-title">{{subscribers_list_title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="filterPopup()">
        <ion-icon name="filter-outline"></ion-icon>

      </ion-button>
      <ion-button (click)="toggleSearch(1)">
        <ion-icon class="search_octa"></ion-icon>
      </ion-button>
      <ion-button (click)="refreshSubscribers()">
        <ion-icon class="refresh_octa"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" [hidden]="hide_search">
    <ion-searchbar [debounce]="debounce_duration" [value]="search_value" show-cancel-button="focus" animated="true" placeholder="Search Subscribers" (ionBlur)="blur()" (search)="searchSubscribers($event)" (ionClear)="clearSearch()"  (ionCancel)="changeCondition(selected_condition)"  #searchBar></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-menu contentId="main-content" swipeGesture="false">
  <div class="menu-content">
    <div class="left-menu">
      <div class="menu-logo">
        <ion-img src='../../../assets/imgs/new_logo2.png'></ion-img>
        <ion-label>
          v. {{app_version}}
        </ion-label>
      </div>
      <div>
        <ion-button color="none" (click)="getBalance()">
          <ion-icon color="primary" slot="icon-only" class="refresh_octa"></ion-icon>
        </ion-button>
        <ion-button color="none" (click)="logout()">
          <ion-icon color="primary" slot="icon-only" class="logout_octa"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="right-menu">
      <ion-button  *ngFor=" let page of menu_pages" (click)="navigateToPage(page.page_name)"  fill="clear" class="menu-button">
        <span>

          <ion-icon color="primary"  [class]="page.icon"></ion-icon>
          <ion-label >
            {{page.title}}
          </ion-label>
        </span>
      </ion-button>
   
    </div>
  </div>
  <div class="menu-footer">
    <ion-icon class="wallet_octa"></ion-icon>
    <ion-label>
      LL &nbsp; {{ balance | number:'1.2-2' }}
    </ion-label>
  </div>
</ion-menu>

<ion-content [scrollEvents]="true" scrollY="true" #content id="main-content">
  <div class="outer-toolbar">
    <div slot="top" class="condition-toolbar">
      <div (click)="changeCondition(condition)" *ngFor="let condition of condition_list" class="condition-button  ion-activatable ripple-parent"
        [style]="selected_condition.condition != condition.condition ? 'opacity : 0.7; color : var(--ion-color-tertiary)' : 'opacity : 1 ; color : var(--ion-color-primary)' ">
        <div>
          <ion-icon class="{{condition.icon}} condition-icon">
          </ion-icon>
        </div>
        <div class="condition-title">
          {{condition.title}}
        </div>
        <div class="condition-number">
          <span *ngIf="conditions_loaded">{{condition.totals}}</span>
          <ion-skeleton-text *ngIf="!conditions_loaded"  class="animated" style="width: 100%; height: 14px; margin: 0;"></ion-skeleton-text>
          
        </div>
        <div class="bar" *ngIf="selected_condition.condition == condition.condition">
        </div>
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      </div>


    </div>
  </div>

  <div class="paginator">
    <div>
      <ion-button [disabled]="rendered_page_number == 0 || !loaded " (click)="page_change = true; changePage(rendered_page_number - 1)">
        < </ion-button>
    </div>

    <div class="pages">
      <ion-label *ngIf="(rendered_page_number >= 2 && (loaded || page_change))" color="primary">...</ion-label>

      <div *ngIf="rendered_page_number != 0 && (loaded || page_change)">
        <ion-button (click)="page_change = true ;changePage(rendered_page_number - 1)" [color]="prev_page_color">
          {{rendered_page_number }}
        </ion-button>
      </div>

      <div class="current-page"  >
        <ion-button [color]="current_page_color" *ngIf="loaded || page_change">{{rendered_page_number + 1 }}</ion-button>
        <div *ngIf="!loaded && !page_change" style="display: flex; gap: 20px;">
          <p style="height: 5px; width: 5px;">
            <ion-skeleton-text class="animated" style="width: 100%;" ></ion-skeleton-text>
          </p>
          <p style="height: 5px; width: 5px;">
            <ion-skeleton-text class="animated" style="width: 100%;" ></ion-skeleton-text>
          </p>
          <p style="height: 5px; width: 5px;">
            <ion-skeleton-text class="animated" style="width: 100%;" ></ion-skeleton-text>
          </p>
          <p style="height: 5px; width: 5px;">
            <ion-skeleton-text class="animated" style="width: 100%;" ></ion-skeleton-text>
          </p>
        </div>
  
      </div>
     
      <div *ngIf="next_page_exists &&  (loaded || page_change)" >
        <ion-button (click)="page_change = true; changePage(rendered_page_number + 1)" [color]="next_page_color">{{rendered_page_number +
          2}}</ion-button>
      </div>

      <ion-label *ngIf="next_page_exists &&  (loaded || page_change) " color="primary">
        ...

      </ion-label>
    </div>
    <div>
      <ion-button [disabled]="!next_page_exists || !loaded " (click)="page_change = true; changePage(rendered_page_number + 1)">
        >
      </ion-button>
    </div>
  </div>

  <div *ngIf="loaded" class="subscribers-grid-container">
    <ion-grid class="subscribers-grid">
      <ion-row *ngFor="let subscriber of subscriber_list; let i = index" class="subscriber ion-activatable ripple-parent" (click)="subscriberMenu(subscriber)">
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
        <ion-col class="subscriber-icon" size="2">
          <ion-icon
            [color]="subscriber.app_subscriber_is_active == '1' && subscriber.app_subscriber_on_grace_period  === '0' || subscriber.app_subscriber_on_grace_period == '1' ? 'primary' : 'secondary'"
            [class]="subscriber.app_subscriber_on_grace_period == '0' ? 'contact_octa' : 'grace_period_octa'"></ion-icon>
        </ion-col>
        <ion-col size="7" class="main-col">
          <ion-row class="subscriber-name">
            <ion-label>{{subscriber.app_subscriber_name}}</ion-label>
          </ion-row>
          <ion-row class="subscriber-service">
            <ion-label>{{subscriber.app_service_name}}</ion-label>
          </ion-row>
          <ion-row class="subscriber-info">
            <ion-col size="auto">
              <ion-icon class="cash_octa " color="primary"></ion-icon>
              <ion-label>
                {{data.currency_sign}}
                {{ data.app_currency_id == '1' ? (subscriber.app_subscriber_balance_val | number:'1.2-2' ) :
                (subscriber.app_subscriber_balance_val | number:'1.0-0' )}}
              </ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-icon class="timer_octa " color="primary"></ion-icon>
              <ion-label>
                {{subscriber.app_subscriber_remain_day_mask}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col class="online-icon" size="2">
          <ion-icon class="online_octa"
            [color]=" subscriber.app_subscriber_is_online == '1' ? 'primary' : 'tertiary' "></ion-icon>
        </ion-col>
        <ion-col class="more-icon" size="2">
          <ion-icon class=" forward_arrow_octa"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list *ngIf="!loaded" class="subscribers-grid-container">

    <ion-item style="height: 90px;" *ngFor="let i of skeleton_items">
      <ion-thumbnail slot="start" style="margin-right: 0;">
        <ion-skeleton-text class="animated"  style="border-radius: 100%; width: 40px; height: 40px;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3 style="padding-left: 0;">
          <ion-skeleton-text class="animated"  style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text class="animated"  style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text class="animated"  style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
